@import "tailwindcss";

@custom-variant limitedHeight (@media (min-height: 768px) and (max-width: 1024px));

.blur-page-leave-active {
    transition: all 0.4s;
   
}

.blur-page-enter-active{
    transition: all 0.4s;
  
}

.blur-page-enter-from,
.blur-page-leave-to {
    opacity: 0;
    filter: blur(1rem);
    
}

